html {
    border: 0;
    width: 1440px;
    height: 960px;
}
body {
    margin:0;
    background-color: hsl(212, 45%, 89%);
    position: relative;
}

.container{
    display:flex;
    flex-direction: column;
    margin: 200px auto;
    background-color: white;
    width:320px;
    height: auto;
    border-radius: 20px;
    padding:16px 16px 40px 16px;
}
img{
    width: 321px;
    height: auto;
    border-radius:10px;
}
.text{
    margin-top:24px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%)
}
h1{
    font-size:25px;
    color:  hsl(218, 44%, 22%);
}
@media (min-width:320px) and (max-width:1000px){
    .container{
        width: 800px;
        height: auto;
        margin: 50% auto;
        padding: 40px 40px 40px 40px;
        
    }
    .text{
        font-size:45px;
    }
    h1{
        font-size: 55px;
    }
}
   
